@{
    ViewData["Title"] = "Son Of Cod";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="index-header">
    <h3>The PNW's premier source for premium seafood</h3>
</div>
<div class="index-images">
    <img src="~/img/fish1.jpg" />
    <img src="~/img/fish2.jpg" />
    <img src="~/img/fish3.jpg" />
</div>
<div class="index-middle">
    <h4>Sign up for our weekly newsletter for info on the latest news and hottest deals!</h4>
    <p>@Html.ActionLink("Click here to sign up", "Newsletter")</p>

</div>